SerializationError: Failed to parse iso 8601 LastModified attribute. AWS S3

Confirm by changing [ ] to [x] below to ensure that it's a bug:
- [x] I've gone though [Developer Guide](https://docs.aws.amazon.com/sdk-for-go/v1/developer-guide/welcome.html) and [API reference](https://docs.aws.amazon.com/sdk-for-go/api/)
- [x] I've checked [AWS Forums](https://forums.aws.amazon.com) and [StackOverflow](https://stackoverflow.com/questions/tagged/aws-sdk-go) for answers
- [x] I've searched for [previous similar issues](https://github.com/aws/aws-sdk-go/issues) and didn't find any solution
  
**Describe the bug**
I'm writing a s3 client in golang and while performing a HEAD request to my S3 server, I get the SerializationError while unmarshaling the response received from server. The error occurs specificially for LastModified attribute of HeadObjectOutput struct.

// Saw this error in request object
SerializationError: failed to decode REST response
caused by: parsing time "2020-06-09T14:35:33.892Z" as "Mon, 2 Jan 2006 15:04:05 GMT": cannot parse "2020-06-09T14:35:33.892Z" as"Mon"
{
  ContentLength: 26
}

// Error my client got
SerializationError: empty response payload
        status code: 200, request id: , host id:
caused by: EOF

This happes when I send a HeadObject request. My S3 server responds back with last-modified date as an ISO 8601 compatible string. 

**Version of AWS SDK for Go?**
v1.31.11

**Version of Go (`go version`)?**
go version go1.14.3
**To Reproduce (observed behavior)**
Steps to reproduce the behavior (please share code or minimal repo)

**Expected behavior**
I would expect it to succeed as the LastModified sent by server seems to be compatible with AWS S3 sample response
<LastModified>2009-11-12T17:50:30.000Z</LastModified>
**Additional context**
The same format works fine with ListObjectsV2 request.

Hi @abhishekarya286, thanks for reaching out to us about this. Are you seeing this behavior when issuing a HeadObject request to a bucket in S3? Looking at S3's API Reference for HeadObject the [sample response](https://docs.aws.amazon.com/AmazonS3/latest/API/API_HeadObject.html#API_HeadObject_Examples) shows the `Last-Modified` value as an RFC 1123 formatted string. Where are you seeing a sample response for this call that returns an ISO 8601 formatted string?

Please keep in mind the difference in location of the `Last-Modified` value between HeadObject and ListObjectsV2 responses - S3's HeadObject returns this value in the `Last-Modified` response header which must be formatted as an RFC 1123 string per [RFC 7232 section 2.2](https://tools.ietf.org/html/rfc7232#section-2.2), whereas ListObjectsV2 returns this value as a field in the XML response body which allows the timestamp to be formatted as an ISO 8601 compatible string.

Hi @diehlaws,

That was really helpful. Actually, I was writing my own s3 server and it seems like I was returning it in ISO 8601 for both ListObjectsV2 and HeadObject request which resulted in this error. My bad!!

Thanks again :) 