Support credential expiration datetimes in the format botocore uses

- [x] I've gone though [Developer Guide](https://docs.aws.amazon.com/sdk-for-go/v1/developer-guide/welcome.html) and [API reference](https://docs.aws.amazon.com/sdk-for-go/api/)
- [x] I've checked [AWS Forums](https://forums.aws.amazon.com) and [StackOverflow](https://stackoverflow.com/questions/tagged/aws-sdk-go) for answers
- [x] I've searched for [previous similar issues](https://github.com/aws/aws-sdk-go/issues) and didn't find any solution

Unfortunately, `botocore` does not produce credential expiration datetimes in ISO format. Instead of ending with 'Z' to indicate UTC, they end with 'UTC', for example "2020-05-16T19:19:29UTC" There is an open issue on the botocore SDK for this https://github.com/boto/botocore/issues/1808, but it makes sense to deal with botocore as it is, not how we want it to be.

This means that the AWS CLI credential caching mechanisms write the credentials in this format, for example. Using the `credential_process` mechanism to glue together newer AWS CLI functionality with the Go SDK, as [aws-sso-credential-provider](https://github.com/benkehoe/aws-sso-credential-process) does, runs into this mismatch. It causes an error like this:

```
ProcessProviderParseError: parse failed of credential_process output: {"Version":1,"AccessKeyId":"<redacted>","SecretAccessKey":"<redacted>","SessionToken":"<redacted>","Expiration":"2020-05-16T19:19:29UTC"}

caused by: parsing time ""2020-05-16T19:19:29UTC"" as ""2006-01-02T15:04:05Z07:00"": cannot parse "UTC"" as "Z07:00"
```

I've fixed this by manually changing the strings as they go out, but it'd be nice if AWS made this interoperable.

- AWS SDK version: 1.30.29
- Go version: go1.14.3 linux/amd64

Thanks for reaching out to us @benkehoe. The credential process provider's specification states that the `Expiration` value should be formatted as `iso8601` as defined by the `date-time` production of [RFC3339 section 5.6](https://xml2rfc.tools.ietf.org/public/rfc/html/rfc3339.html#anchor14) with no UTC offset and optional fractional precision (e.g., 1985-04-12T23:20:50.52Z). The proper resolution to this would be to have botocore return the expiration datetime in ISO format as you've mentioned. 

That being said, considering the amount of issues we've received regarding the SDK receiving improperly formatted timestamps we will look into the possibility of loosening the restrictions on the formats the AWS SDK for Go accepts when parsing timestamps. Once we have more information on this matter we'll update the issue accordingly.

It's not exactly your fault, it's broken in core: https://github.com/golang/go/issues/20555

any updates on this? appears also to be a problem in aws sdk go v2...

I ran into this issue trying to use the terraform AWS provider with an SSO login.

```
Error: SSOProviderInvalidToken: the SSO session has expired or is invalid
caused by: expected RFC3339 timestamp: parsing time "2021-04-13T16:58:51UTC" as "2006-01-02T15:04:05Z07:00": cannot parse "UTC" as "Z07:00"
```

@lukeplausin what version of aws cli v2 are you using? I had this issue but the aws cli was outputting dates in a broken format for a while. I've tested it at 2.1.30 and it works.

Thanks for the additional information, this issue has been fixed in AWS CLI v2 and botocore v2, via https://github.com/boto/botocore/pull/2250. Updating to the latest version of the AWS CLI and botocore should resolve the issue.